.solution {
    padding: 200px 0px;
    max-width: 1600px;
    margin-left: auto;
	margin-right: auto;
    background-image: 
    linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4), 
         rgba(47, 48, 58, 0.4)),
     url(../images/mainpage/hero-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.solution--title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: #FFFFFF;
    width: 695px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* модальне вікно */

.solution__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--transitions-anime), visibility var(--transitions-anime);
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
}


.solution--block {
    margin-left: auto;
	margin-right: auto;

    &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 528px;
        height: 581px;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    &__modal--closes {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
    }

    &__modal--closesvg {
        height: 18px;
        width: 18px;
        transition: fill var(--transitions-anime);
    }

    &__modal--closesvg:hover {
        fill: var(--hover-focus);
    }

}


/* форма модального вікна */
.solution--modal {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-dark);
    }
    &__lable {
        display: block;
        text-align: start;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--main-grey);
    }
    &__input {
        display: block;
        padding-top: 11px;
        padding-right: 12px;
        padding-bottom: 11px;
        padding-left: 12px;
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border var(--transitions-anime);
    }

    &__input:focus {
        border: 1px solid #2196F3;
        outline: 0;
        outline-offset: 0;

        & ~ .solution--modal__svg {
            fill: var(--hover-focus);
        }        
    }
   
    &__input:not(:last-child) {
        padding-left: 42px;
        height: 40px;
    }
    &__input:last-child {
        resize: none;
    }
    &__svg {
        position: absolute;
        top: 52%;
        left: 12px;
        transform: translateY(-50%);
        transition: fill var(--transitions-anime);
    }
    &__field {
        position: relative;
        margin-bottom: 10px;
    }
    &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--main-grey);
    }
    &__checkboxsvg {
        display: inline-block;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 4px;
        margin-right: 7px;
        transition: border-color var(--transitions-anime), background-color var(--transitions-anime),
            background-image var(--transitions-anime);
    }
    &
    &__rules {
        appearance: none;
        position: absolute;
    }
    &__rules:checked  + .solution--modal__checkboxsvg {
        border-color: transparent;
        background-color: var(--hover-focus);
        background-image: url(../images/modal-form-check.svg);
        background-size: contain;
        background-origin: border-box;
    }
    
    &__rules:focus + .solution--modal__checkboxsvg {
        border-color: var(--hover-focus);
    }
    
    &__comment {
        margin-bottom: 20px;
    }



}


/* модальне вікно кінець */